version: "3.8"

services:

  api:
    build: .
    container_name: metadata-api
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - mongo

  mongo:
    image: mongo
    container_name: metadata-mongo
    restart: always
    ports:
      - "27018:27017"
